<!-- <div class="div-register">
  <div class="example-container">
    <form [formGroup]="userForm" class="div-form" (ngSubmit)="save()">



  <div class="form-div--names">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="userForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="contraseña" required>
    </mat-form-field>
  <mat-form-field>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" required>
      </mat-form-field>
    </div>





  isGuardian: new FormControl(false),
    date: new FormControl<Date>(new Date() ),
    gender: new FormControl<string>("not"),
    role: new FormControl<string>(""),
    foto: new FormControl<string>(" "), -->
 
