<div class="login-ctn">
  <div class="backArrow">
    <img class="flecha" src="../../../assets/flecha-izquierda.png" alt="" [routerLink]="['']">
  </div>
  <div class="enlaces">
      <div class="login-enlaces-ctn">
        <button class="login-btn" [routerLink]="['/login']">Iniciar sesión</button>
      </div>
      <div>
        <button class="resgister-btn" [routerLink]="['/register']">Registrate</button>
      </div>
  </div>
  <div class="login-h3">
  <h3>Inicia sesion</h3>
  <h3>ahora</h3>
  </div>
  <div class="btns-enlaces">
    <button class="btn-enlace fb"></button>
    <button class="btn-enlace google"></button>
  </div>
  <p>o utiliza tu correo electronico</p>
  <div class="formLogin">
    <form [formGroup]="userForm" (ngSubmit)="save()">
      <input class="inputs" type="email" formControlName="email" placeholder="Direccion de correo electronico">
      <input class="inputs" matInput type="password" formControlName="contraseña" placeholder="Contraseña">
      <button class="btn-submit" type="submit">
        Inicia sesion
      </button>
    </form>
  </div>
</div>
